---

---

@charset "utf-8";

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials
/* Shuffle Filter*/
#filter {
    margin: 0 0 35px;
    text-align: center;
}


#filter li a {
    color: #68c3a3;
    display: block;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 4px;
    transition: inherit;
}
#filter li a.active,
#filter li a:hover {
    position: relative;
    background: #68c3a3;
    color: #fff;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

#filter li a.active::after,
#filter li a:hover::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid rgba(104, 195, 163, 1);
    bottom: -9px;
    left: 50%;
    margin-left: -8px;
}